.between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sec01{
    width: 100%;
    position: relative;
}

.sec01 .sec01_main_img_wrap {
    position: relative;
    width: 100%;
    height: 2960px;
    overflow: hidden;

}
.sec01 .sec01_main_img_wrap .main_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.sec01 .sec01_main_img_wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 1;
}

.sec01 .sec01_img_wrap_01 {
    position: absolute;
    top:339px;
    right:264px;
    z-index: 1;
}
.sec01 .sec01_img_wrap_01 .sec01_img_01_01 {
    width: 608px;
    height: 834px;
    object-fit: cover;
}
/* 섹션 01 텍스트 01 박스 */
.sec01 .sec01_txt_wrap_01 {
    position: absolute;
    top:339px;
    left:200px;
    gap:20px;
    display: flex;
    flex-direction: column;
    color:white;
    z-index: 99;
}
.sec01 .sec01_txt_wrap_01 .sec01_txt_01_01 {
    font-family: "JejuMyeongjoOTF";
    display: flex;
    gap:2px;
    font-size: 90px;
    font-weight: lighter;
}

.sec01 .sec01_txt_wrap_01 .sec01_txt_01_01 .sec01_txt_01_01_column {
    display: flex;
    flex-direction: row;
    font-family: "JejuMyeongjoOTF";
}
.sec01 .sec01_txt_wrap_01 .sec01_txt_01_01 .dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #FFD7A5;
    margin-bottom: 20px;
}

/* 섹션 01 텍스트 02 박스 */
.sec01 .sec01_txt_wrap_02 {
    position: absolute;
    top:953px;
    left:32px;
    display: flex;
    flex-direction: column;
    color:white;
}
.sec01 .sec01_txt_wrap_02 .sec01_txt_02_01 {
    display: flex;
    font-size: 122px;
    font-weight: 300;
    font-family: CormorantGaramond;
}
.sec01 .sec01_txt_wrap_02 .sec01_txt_02_02 {
    font-size: 20px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    gap:4px;
}
.sec01 .sec01_txt_wrap_02 .sec01_txt_02_02 .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: white;
}

/* 섹션 01 텍스트 03 박스 */
.sec01 .sec01_txt_wrap_03 {
    position: absolute;
    top:1092px;
    right:37px;
    display: flex;
    flex-direction: column;
    align-items: end;
    color:white;
    font-size: 92px;
    z-index: 2;
    font-family: CormorantGaramond;
    font-weight: 300;
}

/* 섹션 01 설명 01 박스 */
.sec01 .sec01_description_wrap_01  {
    position: absolute;
    top:1751px;
    left:0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
    width: 100%;
}
.sec01 .sec01_description_wrap_01 .sec01_description_img_wrap_01 {
    width: 50%;
    margin: 0 16px;
    display: grid;
    grid-auto-flow: row;
    gap: 40px;
    height: 880px;
    padding:0 164px;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}
.sec01 .sec01_description_wrap_01 .sec01_description_img_wrap_01 .sec01_description_img {
    height: 362px;
    object-fit: contain;
    scroll-snap-align: start;
}
.sec01 .sec01_description_wrap_01 .sec01_description_img_wrap_01 .sec01_description_img:nth-child(even) {
    height: 362px;
    justify-self: end;
    object-fit: contain;
}

.sec01 .sec01_description_wrap_01 .sec01_description_img_wrap_01::-webkit-scrollbar {
    display: none;
}

.sec01_description_txt_wrap_01 {
    width: 50%;
    margin: auto 0;
    display: flex;
    gap: 55px;
    flex-direction: column;
    font-family: "JejuMyeongjoOTF";
    font-weight: 200;
}
.sec01_description_txt_wrap_01 .description_txt_01 .sec01_description_txt_01_01 {
    font-size: 66px;
    font-weight: lighter;
    color: white;
}
.sec01_description_txt_wrap_01 .description_txt_01 .sec01_description_txt_01_02 {
    font-size: 66px;
    font-weight: lighter;
    color:#FFD7A5;
}
.sec01_description_txt_wrap_01 .description_txt_02 {
    margin-top:22px;
    font-size: 20px;
    line-height: 36px;
    color: white;
}
.sec01_description_txt_wrap_01 .description_txt_03 {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.sec01_description_wrap_01 .description_txt_03 .description_sign_img {
    width: 241px;
    height: 55px;
 }


/* 섹션 02 */
.sec02 {
    width: 100%;
    display: flex;
}

.sec02 .sec02_wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.sec02 .sec02_wrap_reverse {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}
.sec02 .sec02_intro_wrap_01 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sec02 .sec02_wrap .sec02_intro_01 {
    font-size: 20px;
    color: #9F8B84;
    font-family: CormorantGaramond;
}
.sec02 .sec02_intro_name_wrap {
    line-height: 64px;
}
.sec02 .sec02_wrap .sec02_intro_02 {
    font-size: 50px;
    color: black;
    font-family: "JejuMyeongjoOTF";
}
.sec02 .sec02_wrap .sec02_intro_02 span {
    color: #9F8B84;
}

.sec02 .sec02_wrap .sec02_intro_04,
.sec02 .sec02_wrap .sec02_intro_05 {
    font-size: 16px;
    font-family: "JejuMyeongjoOTF";
}

.sec02 .sec02_wrap .sec02_intro_wrap_left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:120px;
}

.sec02 .sec02_wrap .sec02_intro_wrap_right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:0 120px;
}

.sec02 .sec02_wrap .sec02_intro_wrap_02 {
    margin-top: 46px;
    margin-bottom: 104px;
    font-size: 22px;
    line-height: 36px;
    color: #473834;
}
.sec02 .sec02_wrap .sec02_intro_wrap_03{
    display: flex;
    gap: 23px;
    flex-direction: row;
    align-items: end;
}
.sec02 .sec02_wrap .sec02_intro_06 {
    font-size: 40px;
    font-weight: bold;
    color: #312A28;
}

.sec02 .sec02_wrap .sec02_intro_07 {
    font-size: 24px;
    font-weight: lighter;
    color: #312A28;
}
.sec02 .sec02_wrap .sec02_line {
    width: 352px;
    height: 1px;
    background: #4E473D;
    margin-top : 14px;
    margin-bottom: 29px;
}
.sec02 .sec02_wrap .sec02_intro_wrap_04 {
    color: #473834;
    font-size: 20px;
    line-height: 34px;
}
.sec02 .sec02_wrap .sec02_intro_wrap_05 {
    margin-top: 42px;
}


.sec02 .sec02_wrap .sec02_intro_wrap_left,
.sec02 .sec02_wrap .sec02_intro_wrap_right,
.sec02 .sec02_wrap .sec02_img_wrap {
    width: 50%;
    position: relative;
}
.sec02 .sec02_wrap .sec02_img_wrap img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.popup_btn {
    cursor: pointer;
    margin-top: 42px;
    width: 204px;
    height: 42px;
}
.popArea {
    position: fixed;
    width: 100%;
    height:100%;
    top:0;
    left:0;
}
.popBg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}




@media (max-width: 1300px) {
    .sec02 .sec02_wrap{
        flex-direction: column;
    }
    .sec02 .sec02_wrap .sec02_intro_wrap_left, .sec02 .sec02_wrap .sec02_intro_wrap_right, .sec02 .sec02_wrap .sec02_img_wrap{
        width: 100%;
    }
}
@media (max-width: 880px) {
    .sec01 .sec01_main_img_wrap {
        position: relative;
        width: 100%;
        height: 2190px;
        overflow: hidden;
    
    }
    .sec01 .sec01_main_img_wrap .main_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    
    .sec01 .sec01_main_img_wrap::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: none;
        z-index: 1;
    }
    .sec01 .sec01_txt_wrap_01 {
        left: 16px;
        top: 137px;
    }
    .sec01 .sec01_txt_wrap_01 .sec01_txt_01_01 {
        font-family: "JejuMyeongjoOTF";
        display: flex;
        gap: 2px;
        font-size: 58px;
        font-weight: lighter;
    }
    .sec01 .sec01_txt_wrap_01 .sec01_txt_01_01 div{
        margin-top: 10px;
    }
    .sec01 .sec01_txt_wrap_01 .sec01_txt_01_02 {
        font-size: 16px;
        font-weight: lighter;
    }
    .sec01 .sec01_txt_wrap_01 .sec01_txt_01_01 .dot {
        display: inline-block;
        width: 12px;
        height: 12px;
        background: white;
        margin-bottom: 0px;
    }
    
    .sec01 .sec01_img_wrap_01 {
        position: absolute;
        top:367px;
        right:16px;
        z-index: 1;
    }
    .sec01 .sec01_img_wrap_01 .sec01_img_01_01 {
        width: 270px;
        height: 364px;
    }
    .sec01 .sec01_txt_wrap_01 .sec01_txt_01_01 .sec01_txt_01_01_column {
        display: flex;
        flex-direction: column;
    }
        
    .sec01 .sec01_txt_wrap_02 {
        position: absolute;
        top:714px;
        left:32px;
        display: flex;
        flex-direction: column;
        color:white;
        z-index: 99;
        gap: 8px;
    }
    .sec01 .sec01_txt_wrap_02 .sec01_txt_02_01 {
        display: flex;
        font-size: 35px;
        font-weight: 300;
    }
    .sec01 .sec01_txt_wrap_02 .sec01_txt_02_02 {
        font-size: 20px;
        font-weight: lighter;
        display: flex;
        align-items: center;
        gap:4px;
    }
    .sec01 .sec01_txt_wrap_02 .sec01_txt_02_02 .dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        background: white;
    }
    .sec01 .sec01_txt_wrap_03 {
        position: absolute;
        top:828px;
        right:16px;
        display: flex;
        flex-direction: column;
        align-items: end;
        color:white;
        font-size: 36px;
        z-index: 2;
    }
    /* 섹션 01 설명 01 박스 */
    .sec01 .sec01_description_wrap_01  {
        position: absolute;
        top:980px;
        left:0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 2;
        width: 100%;
    }
    .sec01 .sec01_description_wrap_01 .sec01_description_img_wrap_01 {
        width: 287px;
        margin: 0 16px;
        gap: 16px;
        padding:0;
        scrollbar-width: none;
        height:auto;
    }
    .sec01 .sec01_description_wrap_01 .sec01_description_img_wrap_01 .sec01_description_img {
        width: 253px;
        height: 174px;
        object-fit: contain;
        scroll-snap-align: start;
    }
    .sec01 .sec01_description_wrap_01 .sec01_description_img_wrap_01 .sec01_description_img:nth-child(even) {
        height: 174px;
        justify-self: end;
        object-fit: contain;
    }

    .sec01 .sec01_description_wrap_01 .sec01_description_img_wrap_01::-webkit-scrollbar {
        display: none;
    }

    .sec01_description_txt_wrap_01 {
        padding: 70px 0px 0px 16px;
        width: 100%;
        line-height: 42px;
        gap: 37px;
        width: 290px;
    }
    .sec01_description_txt_wrap_01 .description_txt_01 .sec01_description_txt_01_01 {
        font-size: 32px;
        font-weight: lighter;
        color: white;
    }
    .sec01_description_txt_wrap_01 .description_txt_01 .sec01_description_txt_01_02 {
        font-size: 32px;
        font-weight: lighter;
        color:#FFD7A5;
    }
    .sec01_description_txt_wrap_01 .description_txt_02 {
        margin-top:22px;
        font-size:16px;
        line-height: 28px;
        color: white;
        white-space: nowrap;
        font-size: 16px;
        font-family: Noto Sans regular;
    }
    .sec01_description_txt_wrap_01 .description_txt_03 {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .sec01_description_txt_wrap_01 .description_txt_03 > div{
        font-size: 16px;
        font-weight: lighter;
        color:#A4AAB1;
    }
    .sec01_description_wrap_01 .description_txt_03 .description_sign_img {
        width: 194px;
        height: 44px;
    }

    /* 섹션 2 */
    .sec02 .sec02_wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
    }


    .sec02 .sec02_wrap .sec02_intro_wrap_left,
    .sec02 .sec02_wrap .sec02_intro_wrap_right,
    .sec02 .sec02_wrap .sec02_img_wrap {
        width: 100%;
    }
    .sec02 .sec02_intro_wrap_01 {
        display: flex;
        flex-direction: column;
        gap:25px;
        align-items: center;
        justify-content: center;
        font-family: "JejuMyeongjoOTF";
    }

    .sec02 .sec02_wrap .sec02_intro_01 {
        font-size: 16px;
        color: #9F8B84;
    }
    .sec02 .sec02_intro_name_wrap {
        line-height: 40px;
        text-align: center;
    }
    .sec02 .sec02_wrap .sec02_intro_02{
        font-size: 28px;
        color: black;
        display: inline-block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sec02 .sec02_wrap .sec02_intro_02 span {
        color: #9F8B84;
    }



    .sec02 .sec02_wrap .sec02_intro_wrap_left {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding:98px 25px 48px;
    }

    .sec02 .sec02_wrap .sec02_intro_wrap_right {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding:0 120px;
    }

    .sec02 .sec02_wrap .sec02_intro_wrap_02 {
        margin-top: 30px;
        margin-bottom: 0px;
        font-size: 22px;
        line-height: 36px;
        color: #473834;
    }
    .sec02 .sec02_wrap .sec02_intro_wrap_03{
        display: flex;
        gap: 16px;
        flex-direction: row;
        align-items: end;
    }
    .sec02 .sec02_wrap .sec02_intro_06 {
        font-size: 28px;
        font-weight: bold;
        color: white;
    }

    .sec02 .sec02_wrap .sec02_intro_07 {
        font-size: 20px;
        font-weight: lighter;
        color: white;
    }
    .sec02 .sec02_wrap .sec02_line {
        width: 100%;
        height: 1px;
        background: #CCBBB5;
        margin-top : 12px;
        margin-bottom: 17px;
    }
    .sec02 .sec02_wrap .sec02_intro_wrap_04 {
        color: white;
        display: flex;
        flex:1;
        flex-direction: column;
        font-size: 16px;
        line-height: 34px;
        font-weight: 300;
    }
    .sec02 .sec02_wrap .sec02_intro_04,
    .sec02 .sec02_wrap .sec02_intro_05 {
        text-align: center;
        font-size: 16px;
        font-family: "JejuMyeongjoOTF";
    }
    .sec02 .sec02_wrap .sec02_intro_wrap_05 {
        margin-top: 42px;
    }
    .sec02 .sec02_wrap .sec02_img_wrap {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .sec02 .sec02_wrap .sec02_intro_08 {
        gap:51px;
    }

    .sec02 .sec02_wrap .sec02_img_wrap::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        z-index: 1;
    }

    .sec02_img_mo_wrap {
        position: absolute;
        bottom: 0px;
        height: 360px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: 0px 16px 44px;
        color: white;
        width: 100%;
        z-index: 9;
    }
    .popup_btn {
        cursor: pointer;
        margin-top: 0;
        width: 123px;
        height: 38px;
        background: #957064;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 9px;
        font-size: 14px;
        font-weight: bold;
        margin-right: 16px;
    }
}
