@font-face {
  font-family: "CormorantGaramond";
  font-weight: 300;
  font-display: swap;
  src: url("../assets/fonts/CormorantGaramond-Light.ttf") format("truetype");
}
@font-face {
  font-family: "CormorantGaramond";
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/CormorantGaramond-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "CormorantGaramond";
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/CormorantGaramond-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "CormorantGaramond";
  font-weight: 600;
  font-display: swap;
  src: url("../assets/fonts/CormorantGaramond-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "CormorantGaramond";
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/CormorantGaramond-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSans";
  font-weight: 300;
  font-display: swap;
  src: url("../assets/fonts/NotoSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "NotoSans";
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/NotoSans-Regular.ttf") format("truetype");
  unicode-range:U+AC00-D7A3;
}
@font-face {
  font-family: "NotoSans";
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/NotoSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "NotoSans";
  font-weight: 600;
  font-display: swap;
  src: url("../assets/fonts/NotoSans-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "NotoSans";
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/NotoSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "JejuMyeongjoOTF";
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/JejuMyeongjo.ttf") format("truetype");
}

body{
  font-family: NotoSans;
  color: #312A28;
  overflow-x: hidden;
}

/* 제주폰트 클래스 */
.jeju_font{
    font-family: "JejuMyeongjoOTF";
}
