/* 서브페이지 공통 스타일 */
.sub_title h1{
    font-size: 58px;
    font-family: "JejuMyeongjoOTF";
}
.sub_title h1 span{
    color: #957064;
}
.sub_title p{
    margin-top: 27px;
    font-size: 18px;
}
.sub_title h5{
    font-size: 20px;
    font-family: "CormorantGaramond";
    color: #473834;
}
span.color{
    color: #957064;
}
.sec_01 {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #9F8B84;
    display: flex;
    padding: 84px 53px 61px;
}
.sec_01 .sec_01_bg {
    display: flex;
    background-image: url('/assets/img/infusion/sec01.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
.sec_01 .sec_01_content {
    /* margin-bottom: 115px; */
}

.sec_01_bg h2 {
    font-size: 40px;
    color: #957064;
    margin-bottom: 1rem;
    font-family: "CormorantGaramond";
    text-align: center;
}

.sec_01_bg h1 {
    font-size: 58px;
    margin-bottom: 1rem;
    font-family: "CormorantGaramond";
    font-weight: bold;
    color: black;
    text-align: center;
    margin:33px 0px 23px;
}

.sec_01_bg p {
    color: black;
    font-size: 20px;    
    text-align: center;
}
.sec02{
    position: relative;
}
.sec02 .wrap{
    padding: 291px 0 291px 13.7500vw;
    z-index: 1;
}
.sec02 .wrap h5{
    font-family: "CormorantGaramond";
    color: #957064;
    margin-bottom: 32px;
    font-size: 24px;
    text-transform: capitalize;
}
.sec02 .wrap h1{
    font-size: 78px;
    line-height: 102px;
    
}
.sec02 .wrap h1.color{
    color: #957064;
    position: relative;
    margin-bottom: 279px;
}
.sec02 .wrap h1.color::after{
    content: '';
    position: absolute;
    top:0px;
    left: 550px;
    width: 16px;
    height: 16px;
    background-color: #957064;
}

.sec02 .wrap .icon{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 29px;
}
.sec02 .wrap .icon img{}
.sec02 .wrap .icon .line{
    width: 600px;
    height: 1px;
    background-color: #CCBBB5;
}
.sec02 .wrap p{
    font-size: 20px;
    line-height: 34px;
}
.sec02 .sec02_img{
    position: absolute;
    bottom: -134px;
    right: 0;
    width: 54.1667vw;
    z-index: 2;
}


.sec_03 {
    width: 100%;
    height: 643px;
    position: relative;
    background: #F4F1F1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 322px;
    padding-bottom: 133px;
}

.sec_03 .sec_box_01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    text-align: center;
}

.sec_03 .sec_box_01 p {
    color: #4E473D;
    font-size: 24px;
    font-family: "CormorantGaramond";
    line-height: 34px;
}


.sec_03 .sec_box_01 h1 {
    color: black;
    font-size: 3rem;
    font-family: "JejuMyeongjoOTF";
}

.sec_03 .sec_box_01 h1 > span {
    color: #957064;
}

.sec04{
    background: url('/assets/img/infusion/sec04.png');
    width: 100%;
    height: 640px;
    display: flex;
    align-items: center;
}
.sec04 .inner{
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
}
.sec04 .inner > div{
    flex: 1;
    width: 50%;
}

.sec04 .left{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 22px;
    flex-direction: column;
}
.sec04 .left h3{
    font-family: "CormorantGaramond";
    font-size: 30px;
    font-weight: 600;
    color: #957064;
}
.sec04 .left h1{
    font-family: "JejuMyeongjoOTF";
    font-size: 42px;
    margin-bottom: 5px;
}
.sec04 .left p{
    font-size: 20px;
    line-height: 32px;
    color: #4E473D;
}

.sec04 .right{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.sec04 .right ul{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.sec04 .right li{
    padding: 33px 0 28px;
    width: 426px;
}
.sec04 .right li + li{
    border-top: 1px solid #8E857E;

}
.sec04 .right h5{
    color: #957064;
    font-size: 20px;
    margin-bottom: 8px;
}
.sec04 .right h4{
    font-family: "JejuMyeongjoOTF";
    font-size: 32px;
}

.sec07{
    background: url('/assets/img/sleep/sec07_bg.png');
    padding: 216px 0;
}

.sec07 .wrap{
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    gap: 8.5417vw;
}
.sec07 .img_wrap{
    width: 716px;
    height: 860px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}
.sec07 .flex_wrap{
    display: flex;
    gap: 16px;
    margin-left: 16px;
}
.sec07 .img_wrap img{
    width: 100%;
    height: auto;
    object-fit: contain;
    
}
.sec07 .img_wrap img:nth-child(2n){
    transform: translateY(200px);
}

.sec07 .txt_wrap{
    margin-top: 200px;
}
.sec07 .txt_wrap h1{
    margin-top: 34px;
    color: #fff;
    font-size: 46px;
    line-height: 62px;
}
.sec07 .txt_wrap p{
    font-size: 20px;
    line-height: 34px;
    margin-top: 55px;
    color: #fff;
}

.sec08{
    color: #fff;
    background: url('/assets/img/infusion/sec08.png');
    display: flex;
}
.sec08 .sub_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 13.7500vw;
    box-sizing: border-box;
}
.sec08 .sub_title h1{
    font-size: 58px;
    line-height: 74px;
    margin-bottom: 40px;
    width: calc(50vw - 13.7500vw);
}
.sec08 .sub_title span.color{
    color: #FFD7A5;
}
.sec08 .sub_title p{
    font-family: "CormorantGaramond";
    text-transform: uppercase;
    font-size: 24px;
}
.sec08 .right{
    border-left:1px solid #fff;
    width: 50vw;
}
.sec08 .right li{
    position: relative;
    padding: 102px 0 76px 80px;
    
}
.sec08 .right li + li{
    border-top: 1px solid #fff;
}
.sec08 .right h4{
    font-size: 32px;
    margin-bottom: 29px;
}
.sec08 .right p{
    font-size: 20px;
    line-height: 32px;
}
.sec08 .right .r_i{
    position: absolute;
    top: 50%;
    right: 8.4896vw;
    transform: translateY(-50%);
    height: 4.4792vw;

}

.sec09{
    padding: 0 0 262px;
    background-color: #F4F1F1;
}
.sec09 .sub_title{
    margin-bottom: 70px;
}
.sec09 .inner{
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.sec09 .inner .top_p{
    font-family: "CormorantGaramond";
    font-size: 20px;
    margin-bottom: 30px;
    color: #473834;

}
.sec09 .inner h1{
    font-size: 58px;
}
.sec09 .inner .flex_wrap{
    display: flex;
    height: 582px;
}
.sec09 .inner .flex_wrap > div{
    flex: 1;
}
.sec09 .inner .txt_wrap{
    background-color: #E8E3DC;
    display: flex;
    text-align: left;
    padding: 0 60px;
    justify-content: center;
    flex-direction: column;
    max-width: 700px;
    min-height: 500px;
}
.sec09 .inner .txt_wrap p{
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 25px;
    font-weight: bold;
}
.sec09 .inner .txt_wrap small{
    font-size: 18px;
    line-height: 30px;
}
.sec09 .inner .img_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    min-height: 500px;
}
.sec09 .inner .img_wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sec09 .img_wrap{
    position: relative;
}
.sec09 .img_wrap .ab{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}
.sec09 .img_wrap .ab h6{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 31px;
}
.sec09 .img_wrap .ab p{
    font-size: 18px;
    line-height: 30px;
}
.sec09 .txt_wrap ul{
    display: flex;
    flex-direction: column;
    
}
.sec09 .txt_wrap ul li{
    font-size: 24px;
    font-weight: bold;
    display: flex;
    gap: 16px;
    align-items: center;
    padding-bottom: 28px;
}
.sec09 .txt_wrap ul li + li {
    border-top: 1px solid #CCBBB5;
    padding-top: 38px;
}


.sec10 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    max-width: 1400px;
    margin: 293px auto 217px;
}
.sec10 h4 {
    color: #473834;
    font-size: 1.5rem;
    font-family: "JejuMyeongjoOTF";
}
.sec10 h1 {
    color: #473834;
    font-size: 3.625rem;
    font-family: "JejuMyeongjoOTF";
    margin-top: 31.7px;
    margin-bottom: 45px;
}
.sec10 h1 > span {
    color: #957064;
    font-size: 3.625rem;
    font-family: "JejuMyeongjoOTF";
}
.sec10 h5 {
    color: #473834;
    font-size: 1.125rem;
    line-height: 30px;
}
.sec10 .title_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22px;
}

.sec10 .sterilization {
    display: flex;
    flex-direction: column;
}

.sec10 .sterilizationWrap img {
    width: 100%;
}

.sec10 .sterilization_number{
    margin: 20px 0 13px;
    font-size: 20px;
    color: #957064;
}
.sec10 .sterilization_name{
    font-size: 30px;
    font-weight: bold;
}

.sec10 .sterilization .system_name {
    font-size: 1.875rem;
    color: #312A28;
    display: block;
}
.sec10 .sterilization .system_number {
    color: #957064;
    font-size: 1.25rem;
}

.sec10 line {
    width: 133.5px;
    background: #473834;
    height: 1px;
}

.sec10 .sterilizationWrap{
    display: flex;
    flex-direction: row;
    gap: 36px;
}

.sec11{
    padding: 168px 0 187px;
    background-color: #F5F2EF;
}
.sec11 .txt_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec11 .txt_wrap h4{
    font-weight: 600;
    margin: 26px 0 31px;
    font-size: 40px;
    font-family: "CormorantGaramond";
    line-height: 50px;
    letter-spacing: 10px;
    text-transform: uppercase;

}
.sec11 .txt_wrap p{
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 71px;
}
.sec11 .swiper{
    width: 864px;
    height: 600px;
    overflow: visible;
}
.sec11 .swiper .next, .sec11 .swiper .prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}
.sec11 .swiper .next{
    left: calc(100% + 16px);
}
.sec11 .swiper .prev{
    right: calc(100% + 16px);
}

.sec11 .swiper .swiper-slide img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 440px;
    transition: 0.4s;
    object-fit: cover;
}
.sec11 .swiper .swiper-slide-active {
    width: 100%;
    height: 100%;
}
.sec11 .swiper .swiper-slide-active img{
    width: 100%;
    height: 100%;
    margin: auto 0;
}


@media (max-width:1300px) {
    .sec03 .bot .flex_wrap{
        align-items: start;
        flex-direction: column;
    }
    .sec03 .d_img{
        max-width: none;
        max-height: none;
        width: 100%;
        height: auto;
    }
    .sec03 .bot{
        margin-left: 16px;
        
    }
}
@media (max-width:880px) {
    .sec_01{
        width: 100%;
        height: 100vh;
        position: relative;
        background: #9F8B84;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        padding: 0;
    }
    .sec_01 .sec_01_bg {
        background-image: url('/assets/img/infusion/sec01_m.png');
    }
    .sec_01 .sec_01_bg {
        display: flex;
        background-size: cover;
        background-position: center;
        width: calc(100% - 32px);
        height:  calc(100% - 150px);
        color: #fff;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
    }
    .sec_01 .sec_01_content {
        transform: translateY(-34px);
    }
    
    .sec_01_bg h2 {
        font-size: 26px;
        color: #957064;
        margin-bottom: 25px;
        font-family: "CormorantGaramond";
        text-align: center;
    }
    
    .sec_01_bg h1 {
        font-size: 44px;
        margin-bottom: 1rem;
        font-family: "CormorantGaramond";
        font-weight: bold;
        color: black;
        text-align: center;
        margin:0 0px 19px;
        line-height: 60px;
    }
    
    .sec_01_bg p {
        color: black;
        font-size: 16px;    
        text-align: center;
        line-height: 28px;
    }
    .sec_01 .mo_only {
        width: 100%;
    }
    .sec_01 .sec_01_box {
        display: flex;
        flex-direction: row;
        background: #342E26;
        width: 100%;
        height: 54px;
        justify-content: space-around;
        align-items: center;
    }
    .sec_01 .sec_icon_line {
        background: #454C53;
        height: 20px;
        width: 1px;
    } 
    .sec_01 .sec_icon_box {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
    }
    .sec_01 .sec_icon_box img{
        width: 14px;
        height: 14px;
    }
    .sec_01 .sec_icon_box div{
        font-size: 14px;
        font-weight: bold;
        color: white;
    }

    .sec02 .wrap{
        padding: 114px 0 0 30px;
    }
    .sec02 .wrap h5{
        font-size: 18px;
        margin-bottom: 20px;
    }
    .sec02 .wrap h1{
        font-size: 42px;
        line-height: 54px;
        /* margin-bottom: 61px; */
    }
    .sec02 .wrap h1.color::after{
        left: 295px;
        height: 8px;
        width: 8px;
    }
    .sec02 .wrap h1.color{
        margin-bottom: 61px;
    }
    .sec02 .wrap p{
        font-size: 16px;
        line-height: 28px;
    }
    .sec02 .sec02_img{
        width: 100%;
        object-fit: cover;
        height: 334px;
        position: static;
        margin-top: 68px;
    }


    .sec_03 {
        width: 100%;
        height: 346px;
        padding-top: 104px;
        position: relative;
        background: #F4F1F1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 0;
    }
    
    .sec_03 .sec_box_01 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        text-align: center;
    }
    
    .sec_03 .sec_box_01 p {
        color: #4E473D;
        font-size: 16px;
        font-family: "CormorantGaramond";
        line-height: 28px;
    }
    
    
    .sec_03 .sec_box_01 h1 {
        line-height: 38px;
        color: black;
        font-size: 38px;
        font-family: "JejuMyeongjoOTF";
    }
    
    .sec_03 .sec_box_01 h1 > span {
        color: #957064;
    }

    .sec04{
        background: url('/assets/img/infusion/sec04_m.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: auto;
    }

    .sec04 .inner{
        width: calc(100% - 32px);
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 80px 0 120px;
    }
    .sec04 .inner > div{
        width: 100%;
    }
    
    .sec04 .left{
        margin-bottom: 73px;
        gap: 20px;
    }
    .sec04 .left h3{
        font-size: 16px;
    }
    .sec04 .left h1{
        font-size: 38px;
        margin-bottom: 15px;
    }
    .sec04 .left p{
        font-size: 16px;
        line-height: 28px;
    }
    
    .sec04 .right{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .sec04 .right ul{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
    .sec04 .right li{
        padding: 27px 0 24px;
        width: 283px;
    }
    .sec04 .right li + li{
        border-top: 1px solid #8E857E;
    
    }
    .sec04 .right h5{
        font-size: 14px;
        margin-bottom: 12px;
    }
    .sec04 .right h4{
        font-size: 22px;
    }
    .sec10 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 100px 0 140px;
        padding: 0px 16px;
        width: 100%;
    }


    .sec07 .swiper{
        width: 280px;
        overflow: visible;
    }
    .sec07 .img_wrap{
        display: none;
    }
    .sec07{
        padding: 103px 0;
    }
    .sec07 .wrap{
        flex-direction: column;
    }
    .sec07 .txt_wrap{
        margin:0 16px;
    }
    .sec07 .txt_wrap img{
        width: 46px;
        height: 46px;
    }
    .sec07 .txt_wrap p{
        margin: 0;
        font-size: 16px;
        line-height: 28px;
    }
    .sec07 .txt_wrap h1{
        font-size: 30px;
        margin: 30px 0 45px;
        line-height: 40px;
    }
    .sec07 .swiper{
        margin-top: 58px;
    }
    .sec07 .swiper img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .sec08{
        flex-direction: column;
        background: url('/assets/img/infusion/sec08_m.png') no-repeat;
        background-size: cover;
    }
    .sec08 .sub_title{
        width: calc(100% - 32px);
        margin: 0 16px;
        padding: 0;
        padding: 81px 0 71px;
    }
    .sec08 .right{
        width: 100%;
    }
    .sec08 .sub_title h1{
        width: 100%;
        margin-bottom: 24px;
        font-size: 40px;
        line-height: 56px;
    }
    .sec08 .sub_title p{
        margin: 0;
        font-size: 16px;
    }

    .sec08 .right{
        border-left:none;
    }
    .sec08 .right li{
        position: relative;
        padding: 40px 16px;
        border-top: 1px solid #fff;

    }
    .sec08 .right li + li{
        
    }
    .sec08 .right h4{
        font-size: 24px;
        margin-bottom: 19px;
    }
    .sec08 .right p{
        font-size: 16px;
        line-height: 28px;
    }
    .sec08 .right .r_i{
        top: 22px;
        right: 16px;
        height: 60px;
        transform: translate(0);
    }


    .sec09{
        padding: 120px 0 130px;
    }
    .sec09 .inner .flex_wrap{
        flex-direction: column;
        height: auto;
    }
    .sec09 .inner .top_p{
        font-size: 16px;
        margin-bottom: 26px;
    }
    .sec09 .inner h1{
        font-size: 40px;
        line-height: 50px;
    }

    .sec09 .inner .img_wrap{
        height: 77.7778vw;
        min-height: auto;
    }
    .sec09 .inner .flex_wrap > div{
        flex:none;
    }
    .sec09 .inner .img_wrap img{
        width: 249px;
    }
    .sec09 .inner .txt_wrap{
        padding: 37px 17px;
        width: 100%;
        max-width: none;
    }
    .sec09 .inner .txt_wrap p{
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 29px;
    }
    .sec09 .inner .txt_wrap small{
        font-size: 16px;
        line-height: 28px;
    }
    .sec09 .img_wrap .ab{
        display: flex;
    }
    .sec09 .img_wrap .ab h6{
        font-size: 22px;
        margin-bottom: 18px;
    }
    .sec09 .img_wrap .ab p{
        font-size: 16px;
    }
    .sec09 .inner .img_wrap img{
        width: 100%;
    }
    .sec09 .txt_wrap ul li{
        font-size: 16px;
    }
    .sec09 .inner .txt_wrap{
        min-height: auto;
    }
    .sec10 h1 > span {
        color: #957064;
        font-size: 3.625rem;
        font-family: "JejuMyeongjoOTF";
    }
    .sec10 h5 {
        color: #473834;
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 64px;
    }
    .sec10 .title_box {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }
    .sec10 line {
        width: 61px;
        background: #473834;
        height: 1px;
    }    
    .sec10 .sterilizationWrap {
        display: flex;
        flex-direction: column;
        gap: 72px;
    }    
    .sec10 .sterilization {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sec10 .sterilizationWrap img {
        width: 100%;
        height: 254px;
        object-fit: contain;
    }
    .sec10 .sterilizationWrap .another_sterilization_img {
        width: 250px;
        height: 210.35px;
    }
    
    .sec10 .sterilization .sterilization_number {
        font-size: 16px;
        margin-bottom: 11px;
        margin-top: 24px;
        color: #957064;
    }
    
    .sec10 .sterilization .sterilization_name {
        font-size: 24px;
        font-weight: bold;
    }

    .sec11{
        padding: 88px 0 63px;
    }
    .sec11 .txt_wrap img{
        width: 40px;
        height: 40px;
    }
    .sec11 .txt_wrap h4{
        margin: 18px 0 28px;
        font-size: 32px;
        letter-spacing: 3px;
        line-height: 44px;
        text-align: center;
    }
    .sec11 .txt_wrap p{
        font-size: 16px;
        margin-bottom: 53px;
        text-align: center;
    }
    .sec11 .swiper{
        width: 284px;
        height: 340px;
        /* overflow: hidden; */
    }
    .sec11 .swiper .swiper-slide img{
        position: static;
        width: 100%;
        height: 100%;
        transform: translate(0);
    }
}
