/* 서브페이지 공통 스타일 */
.sub_title h1{
    font-size: 58px;
    font-family: "JejuMyeongjoOTF";
}
.sub_title h1 span{
    color: #957064;
}
.sub_title p{
    margin-top: 27px;
    font-size: 18px;
}
.sub_title h5{
    font-size: 20px;
    font-family: "CormorantGaramond";
    color: #473834;
}
span.color{
    color: #957064;
}

.sec01 {
    height: 100vh;
    width: 100%;
    /* padding: 84px 53px 61px; */
    background-color: #9F8B84;
    
}
.sec01 .wrap{
    position: absolute;
    top: 84px;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    overflow: hidden;
    border-radius: 30px;
    width: calc(100% - 106px);
    height: calc(100% - 145px);
}
.sec01 img{
    width: 100%;
    height: 100%;
}
.sec01 .txt_wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.sec01 h3{
    font-family: "CormorantGaramond";
    font-size: 40px;
    margin-bottom: 33px;
    color: #957064;
}
.sec01 h1{
    font-size: 58px;
    font-weight: bold;
    margin-bottom: 23px;
}
.sec01 p{
    font-size: 20px;
}

.sec02{
    position: relative;
}
.sec02 .wrap{
    padding: 291px 0 291px 13.7500vw;
    z-index: 1;
}
.sec02 .wrap h5{
    font-family: "CormorantGaramond";
    color: #957064;
    margin-bottom: 32px;
    font-size: 24px;
    text-transform: capitalize;
}
.sec02 .wrap h1{
    font-size: 78px;
    line-height: 102px;
    
}
.sec02 .wrap h1.color{
    color: #957064;
    position: relative;
    margin-bottom: 279px;
}
.sec02 .wrap h1.color::after{
    content: '';
    position: absolute;
    top:0px;
    left: 462px;
    width: 16px;
    height: 16px;
    background-color: #957064;
}

.sec02 .wrap .icon{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 29px;
}
.sec02 .wrap .icon img{}
.sec02 .wrap .icon .line{
    width: 600px;
    height: 1px;
    background-color: #CCBBB5;
}
.sec02 .wrap p{
    font-size: 20px;
    line-height: 34px;
}
.sec02 .sec02_img{
    position: absolute;
    bottom: -134px;
    right: 0;
}

.sec03{
    background-color: #F4F1F1;
}
.sec03 .top{
    text-align: center;
    padding: 332px 0 189px;
    border-bottom: 1px solid #CCBBB5;
}
.sec03 .top h3{
    font-size: 48px;
    margin-bottom: 50px;
}
.sec03 .top p{
    line-height: 34px;
    font-size: 20px;
}
.sec03 .bot{
    margin-left: 13.7500vw;
    padding-top: 114px;
}
.sec03 .bot .flex_wrap{
    display: flex;
    align-items: end;
    gap: 34px;
}
.sec03 .bot h5{
    font-size: 20px;
    font-family: "CormorantGaramond";
    color: #9F8B84;
    margin-bottom: 34px;
    text-transform: uppercase;
}
.sec03 .bot h3{
    font-size: 50px;
    line-height: 62px;
    margin-bottom: 82px;
}
.sec03 .bot .name_wrap{
    display: flex;
    gap: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #4E473D;
    align-items: end;
    margin-bottom: 29px;
}
.sec03 .bot .name_wrap .name{
    font-size: 40px;
    font-weight: 700;
}
.sec03 .bot .name_wrap p{
    color: #957064;
    font-size: 22px;

}
.sec03 .bot .info{
    line-height: 38px;
    font-size: 20px;
    padding-bottom: 117px;
}

.sec04{
    background-color: #786A65;

}
.sec04 .wrap{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    padding: 164px 0;
}
.sec04 .wrap .left{
    background-color: #4B3A34;
    height: 502px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec04 .wrap .right{
    height: 502px;
    flex: 1;
    background-color: #fff;
    padding-left: 80px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.sec04 .wrap .right h6{
    font-size: 24px;
    margin-bottom: 16px;
}
.sec04 .wrap .right h3{
    font-size: 44px;
    color: #957064;
    margin-bottom: 64px;
    line-height: 58px;
}
.sec04 .wrap .right b{
    font-weight: 700;
    margin-bottom: 21px;
    font-size: 18px;
}
.sec04 .wrap .right p{
    font-size: 16px;
    line-height: 28px;
}

.sec05{
    padding: 560px 0 388px;
}
.sec05 .img_wrap, .sec05 .sub_title{
    width: 1400px;
    margin: 0 auto;
}
.sec05 .img_wrap{
    display: flex;
    gap: 16px;
    margin-top: 54px;
}
.sec05 .img_wrap ul{}
.sec05 .img_wrap li{}
.sec05 .img_wrap img{}
.sec05 .img_wrap .txt{
    padding-top: 22px;
}
.sec05 .img_wrap .txt small{
    font-size: 16px;
    margin-bottom: 14px;
    color: #957064;
    font-family: "CormorantGaramond";
}
.sec05 .img_wrap .txt p{
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
}

.sec06 {
    background-color: #957064;
    position: relative;
    text-align: center;
    padding: 130px 0;
}
.sec06 h2{
    color: #fff;
    font-size: 46px;
    line-height: 64px;
}
.sec06 h2.color{
    color: #F3D1C4;
    margin-bottom: 45px;
}
.sec06 p{
    color: #fff;
    font-size: 16px;
    line-height: 28px;
}

.sec06 img{
    position: absolute;
    bottom: 63px;
    right: 132px;
}

.sec07{
    background: url('/assets/img/infusion/sec07_bg.png');
    padding: 216px 0;
}

.sec07 .wrap{
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    gap: 8.5417vw;
}
.sec07 .img_wrap{
    width: 716px;
    height: 860px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}
.sec07 .img_wrap img{
    width: 100%;
    height: auto;
    object-fit: contain;
    
}
.sec07 .img_wrap img:nth-child(2n){
    transform: translateY(200px);
}

.sec07 .txt_wrap{
    margin-top: 200px;
}
.sec07 .txt_wrap h1{
    margin-top: 34px;
    color: #fff;
    font-size: 46px;
    line-height: 62px;
}
.sec07 .txt_wrap p{
    font-size: 20px;
    line-height: 34px;
    margin-top: 55px;
    color: #fff;
}

.sec08{
    height: 100vh;
}
.sec08 .flex_wrap{
    display: flex;
    height: 100%;
}
.sec08 .flex_wrap > div{
    flex:1;
    max-width: 50vw;
}
.sec08 .txt_wrap{
    background-color: #0C2A4D;
}
.sec08 .txt_wrap .ab{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    padding-left: 13.7500vw;
    flex-direction: column;
    justify-content: center;
}
.sec08 .txt_wrap h6{
    color: #F3D1C4;
    font-size: 24px;
    margin-bottom: 30px;
    display: flex;
    gap: 44px;
    align-items: center;
}
.sec08 .txt_wrap h6 .line{
    width: 113px;
    height: 1px;
    background-color: #F3D1C4;
}
.sec08 .txt_wrap h1{
    margin-bottom: 71px;
    font-size: 48px;
    line-height: 62px;
    color: #fff;
}
.sec08 .txt_wrap p{
    color: #A4AAB1;
    font-size: 18px;
    line-height: 30px;
}
.sec08 .txt_wrap p.w_f{
    color: #fff;
    margin-top: 40px;
    font-weight: bold;
}
.sec08 .txt_wrap{
    background-color: #0C2A4D;

}
.sec08 .img_wrap{}
.sec08 .img_wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.sec09{
    padding: 212px 0;
}
.sec09 .inner{
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.sec09 .inner .top_p{
    font-family: "CormorantGaramond";
    font-size: 20px;
    margin-bottom: 30px;
    color: #473834;

}
.sec09 .inner h1{
    font-size: 58px;
    margin-bottom: 60px;
}
.sec09 .inner .flex_wrap{
    display: flex;
    height: 27.5000vw;
}
.sec09 .inner .flex_wrap > div{
    flex: 1;
}
.sec09 .inner .txt_wrap{
    background-color: #F4F1F1;
    display: flex;
    text-align: left;
    padding-left: 96px;
    justify-content: center;
    flex-direction: column;
    max-width: 700px;
}
.sec09 .inner .txt_wrap p{
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 25px;
    font-weight: bold;
}
.sec09 .inner .txt_wrap small{
    font-size: 18px;
    line-height: 30px;
}
.sec09 .inner .img_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}
.sec09 .inner .img_wrap img{
    width: 32.5000vw;
}



.sec10 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    max-width: 1400px;
    margin: 293px auto 217px;
}
.sec10 h4 {
    color: #473834;
    font-size: 1.5rem;
    font-family: "JejuMyeongjoOTF";
}
.sec10 h1 {
    color: #473834;
    font-size: 3.625rem;
    font-family: "JejuMyeongjoOTF";
    margin-top: 31.7px;
    margin-bottom: 45px;
}
.sec10 h1 > span {
    color: #957064;
    font-size: 3.625rem;
    font-family: "JejuMyeongjoOTF";
}
.sec10 h5 {
    color: #473834;
    font-size: 1.125rem;
    line-height: 30px;
}
.sec10 .title_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22px;
}

.sec10 .sterilization {
    display: flex;
    flex-direction: column;
}

.sec10 .sterilizationWrap img {
    width: 100%;
}

.sec10 .sterilization_number{
    margin: 20px 0 13px;
    font-size: 20px;
    color: #957064;
}
.sec10 .sterilization_name{
    font-size: 30px;
    font-weight: bold;
}

.sec10 .sterilization .system_name {
    font-size: 1.875rem;
    color: #312A28;
    display: block;
}
.sec10 .sterilization .system_number {
    color: #957064;
    font-size: 1.25rem;
}

.sec10 line {
    width: 133.5px;
    background: #473834;
    height: 1px;
}

.sec10 .sterilizationWrap{
    display: flex;
    flex-direction: row;
    gap: 36px;
}

.sec11 .swiper{
    border: 1px solid red;
    width: 864px;
    height: 600px;
    overflow: visible;
}
.sec11 .swiper .next, .sec11 .swiper .prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}
.sec11 .swiper .next{
    left: calc(100% + 16px);
}
.sec11 .swiper .prev{
    right: calc(100% + 16px);
}
.sec11 .swiper .swiper-slide{
    position: relative;
    width: 624px;
    height: 440px;
}
.sec11 .swiper .swiper-slide img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 440px;
    transition: 0.4s;
    object-fit: cover;
}
.sec11 .swiper .swiper-slide-active {
    width: 100%;
    height: 100%;
}
.sec11 .swiper .swiper-slide-active img{
    width: 100%;
    height: 100%;
    margin: auto 0;
}


@media (max-width:880px) {
    .sec10 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 100px 0 140px;
        padding: 0px 16px;
        width: 100%;
    }
    .sec10 h4 {
        color: #473834;
        font-size: 16px;
        font-family: "JejuMyeongjoOTF";
    }
    .sec10 h1 {
        color: #473834;
        font-size: 3.625rem;
        line-height: 50px;
        font-family: "JejuMyeongjoOTF";
        margin-top: 31.7px;
        margin-bottom: 45px;
    }
    .sec10 h1 > span {
        color: #957064;
        font-size: 3.625rem;
        font-family: "JejuMyeongjoOTF";
    }
    .sec10 h5 {
        color: #473834;
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 64px;
    }
    .sec10 .title_box {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }
    .sec10 line {
        width: 61px;
        background: #473834;
        height: 1px;
    }    
    .sec10 .sterilizationWrap {
        display: flex;
        flex-direction: column;
        gap: 72px;
    }    
    .sec10 .sterilization {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sec10 .sterilizationWrap img {
        width: 100%;
        height: 254px;
        object-fit: contain;
    }
    .sec10 .sterilizationWrap .another_sterilization_img {
        width: 250px;
        height: 210.35px;
    }
    
    .sec10 .sterilization .sterilization_number {
        font-size: 16px;
        margin-bottom: 11px;
        margin-top: 24px;
        color: #957064;
    }
    
    .sec10 .sterilization .sterilization_name {
        font-size: 24px;
        font-weight: bold;
    }
}
