
.map_wrap {
    /* padding: 196px 0 162px; */
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.map_wrap .map_img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}
.map_wrap .map_between {
    display: flex;
    flex-direction: row;
    gap: 130px;
}

.map_wrap .map_intro_wrap {
    z-index: 99;
    margin-top:37px;
}

.map_wrap .map_intro_wrap .map_intro_txt_01 {
    font-size: 20px;
    color: #F3D1C4;
    font-weight: 300;
}

.map_wrap .map_intro_wrap .map_intro_txt_02 {
    font-size: 70px;
    font-weight: 700;
    font-family: Cormorant Garamond;
    color: white;
    margin-top: 7px;
    margin-bottom: 14px;
}
.map_wrap .map_intro_wrap .map_intro_txt_03 {
    font-size: 24px;
    color: white;
    font-weight: 300;
    line-height: 38px;
}
.map_wrap .map_intro_wrap .map_intro_txt_04 {
    font-size: 64px;
    font-weight: bold;
    color: white;
    margin-top: 85px;
    margin-bottom: 64px;
}
.map_time_wrap {
    color: white;
    display: flex;
    flex-direction: column;
}
.map_time_wrap .map_time_section_01,
.map_time_wrap .map_time_section_02 {
    border-bottom: 0.8px solid #fff;
    padding-bottom: 21px;
    display: flex;
    flex-direction: row;
    flex:1;
    gap:24px;
    width: 535px;
    font-size: 12px;
    font-weight: 300;
}
.map_time_wrap .map_time_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
}

.map_time_wrap .map_time_section_02 .map_time_box {
    margin-top: 21px;
}

.map_time_wrap .map_time_box:nth-child(2) {
    flex:1;
    justify-content: center;
}
.map_time_wrap .map_time_section_03 {
    margin-top: 21px;
    font-size: 12px;
    font-weight: 300;
}
.map_location_wrap {
    flex-direction: column;
    display: flex;
}
.map_location_box {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap:16px;
}

.map_location_box:nth-child(2) {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top:30px;
    gap:16px;
}

.map_location_box .map_location_btn_box {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    flex:1;
}

.map_location_box .map_btn_border {
    display: flex;
    flex:1;
    flex-direction: column;
    position: relative;
}

.map_location_box .map_btn_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
    border: 1px solid #fff;
    padding: 18px 28px 18px 42px;
    flex:1;
}

.map_location_box .map_btn_box_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    border: 1px solid #fff;
    padding: 18px 28px 18px 42px;
    flex:1;
}

.map_location_box .map_btn_hover:hover {
    background: white;
}

.map_location_box .map_btn_hover:hover img,
.map_location_box .map_btn_hover:hover .map_btn_txt {
    filter: invert(46%) sepia(6%) saturate(1867%) hue-rotate(328deg) brightness(100%) contrast(88%);
}

.map_location_box .map_btn_hover:hover .map_btn_hover_box {
    border-top: 1px solid #957064;
    display: flex;
}

.map_location_box .map_btn_hover_box {
    display: none;
    flex:1;
    flex-direction: column;
    position:absolute;
    top: 64.2px;
    padding:31px 20px 23px;
    background: white;
    width: 100%;
    z-index: 99;
    font-size: 16px;
    gap:14px;
}

.map_location_box .map_btn_hover_box .line_two {
    background: #36AB36;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:4px 17px 2px 17px;
    border-radius: 12px;
    color: white;
}

.map_location_box .map_btn_hover_box .line_three {
    background: #D7AB5F;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:4px 17px 2px 17px;
    border-radius: 12px;
    color: white;
}
.map_location_box .map_btn_hover_box .map_btn_hover_txt_box_01 {
    flex:1;
    display: flex;
    flex-direction: row;
    gap:7px;
    align-items: center;
}

.map_location_box .map_btn_hover_box .map_btn_hover_txt_box_02 {
    flex:1;
    display: flex;
    flex-direction: column;
    gap:32px;
}

.map_location_box .map_btn_hover_box .map_bus_txt_01{
    display: flex;
    flex-direction: column;
    gap:15px;
}

.map_location_box .map_btn_hover_box .map_bus_txt_02 {
    display: flex;
    flex-direction: column;
    gap:9px;
}

.map_location_box .map_btn_hover_box .map_bus_txt_01 div:nth-child(2) {
    width: 241px;
    line-height: 24px;
    font-weight: bold;
}

.map_location_box .map_btn_hover_box .map_bus_txt_02 {
    width: 241px;
    line-height: 24px;
}

.map_location_box .map_btn_hover_box .map_bus_txt_02 span {
    font-weight: bold;
}

.map_bus_txt_color {
    color:#957064;
}


.map_wrap .map_btn_left {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    color: white;
    font-size: 22px;
    font-weight: 400;
}
.map_wrap .map_icon {
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.map_wrap .map_arrow_icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}
.map_wrap .map_btn_right_02 {
    color: white;
    flex:1;
    margin-left: 12px;
    font-weight: 600;
    font-size: 22px;
}



@media (max-width: 880px) {        
    .map_wrap {
        /* padding: 196px 0 162px; */
        position: relative;
        height: 1358px;
        overflow: hidden;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .map_wrap .map_img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: -1;
        height: 100%;
    }
    .map_wrap .map_between {
        display: flex;
        flex-direction: column;
        gap: 0px;
        width: 100%;
        padding: 91px 16px 0px;
    }

    .map_wrap .map_intro_wrap {
        z-index: 99;
        margin-top:37px;
    }

    .map_wrap .map_intro_wrap .map_intro_txt_01 {
        font-size: 16px;
        color: #F3D1C4;
        font-weight: 300;
    }

    .map_wrap .map_intro_wrap .map_intro_txt_02 {
        font-size: 44px;
        font-weight: 700;
        font-family: Cormorant Garamond;
        color: white;
        margin-top: 7px;
        margin-bottom: 16px;
    }
    .map_wrap .map_intro_wrap .map_intro_txt_03 {
        font-size: 16px;
        color: white;
        font-weight: 300;
        line-height: 28px;
    }
    .map_wrap .map_intro_wrap .map_intro_txt_04 {
        font-size: 40px;
        font-weight: bold;
        color: white;
        margin-top: 49px;
        margin-bottom: 78px;
    }
    .map_time_wrap {
        color: white;
        display: flex;
        flex-direction: column;
    }
    .map_time_wrap .map_time_section_01,
    .map_time_wrap .map_time_section_02 {
        border-bottom: 0.8px solid #fff;
        padding-bottom: 21px;
        display: flex;
        flex-direction: row;
        flex:1;
        gap:24px;
        width: 535px;
        font-size: 12px;
        font-weight: 300;
    }
    .map_time_wrap .map_time_box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 8px;
        align-items: center;
    }

    .map_time_wrap .map_time_section_02 .map_time_box {
        margin-top: 21px;
    }

    .map_time_wrap .map_time_box:nth-child(2) {
        flex:1;
        justify-content: center;
    }
    .map_time_wrap .map_time_section_03 {
        margin-top: 21px;
        font-size: 12px;
        font-weight: 300;
        margin-bottom: 80px;
    }
    .map_location_wrap {
        flex-direction: column;
        display: flex;
    }
    .map_location_box {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap:16px;
    }

    .map_location_box img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .map_location_box:nth-child(2) {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-top:30px;
        gap:16px;
    }

    .map_location_box .map_location_btn_box {
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        flex:1;
    }

    .map_location_box .map_btn_border {
        display: flex;
        flex:1;
        flex-direction: column;
        position: relative;
    }

    .map_location_box .map_btn_box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 8px;
        align-items: center;
        border: 1px solid #fff;
        padding: 10px 28px 10px 28px;
        flex:1;
    }

    .map_location_box .map_btn_hover:hover {
        background: white;
    }

    .map_location_box .map_btn_hover:hover img,
    .map_location_box .map_btn_hover:hover .map_btn_txt {
        filter: invert(46%) sepia(6%) saturate(1867%) hue-rotate(328deg) brightness(100%) contrast(88%);
    }

    .map_location_box .map_btn_hover:hover .map_btn_hover_box {
        border-top: 1px solid #957064;
        display: flex;
    }

    .map_location_box .map_btn_hover_box {
        display: none;
        flex:1;
        flex-direction: column;
        position:absolute;
        top: 48.2px;
        padding:26px 28px 22px;
        background: white;
        width: 100%;
        z-index: 99;
        font-size: 16px;
        gap:14px;
    }

    .map_location_box .map_btn_hover_box .line_two {
        background: #36AB36;
        display: flex;
        align-items: center;
        justify-content: center;
        padding:4px 17px 2px 17px;
        border-radius: 12px;
        color: white;
    }

    .map_location_box .map_btn_hover_box .line_three {
        background: #D7AB5F;
        display: flex;
        align-items: center;
        justify-content: center;
        padding:4px 17px 2px 17px;
        border-radius: 12px;
        color: white;
    }
    .map_location_box .map_btn_hover_box .map_btn_hover_txt_box_01 {
        flex:1;
        display: flex;
        flex-direction: row;
        gap:7px;
        align-items: center;
    }

    .map_location_box .map_btn_hover_box .map_btn_hover_txt_box_02 {
        flex:1;
        display: flex;
        flex-direction: column;
        gap:32px;
    }

    .map_location_box .map_btn_hover_box .map_bus_txt_01{
        display: flex;
        flex-direction: column;
        gap:15px;
    }

    .map_location_box .map_btn_hover_box .map_bus_txt_02 {
        display: flex;
        flex-direction: column;
        gap:9px;
    }

    .map_location_box .map_btn_hover_box .map_bus_txt_01 div:nth-child(2) {
        width: 241px;
        line-height: 24px;
        font-weight: bold;
    }

    .map_location_box .map_btn_hover_box .map_bus_txt_02 {
        width: 241px;
        line-height: 24px;
    }

    .map_location_box .map_btn_hover_box .map_bus_txt_02 span {
        font-weight: bold;
    }

    .map_bus_txt_color {
        color:#957064;
    }


    .map_wrap .map_btn_left {
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;
        color: white;
        font-size: 16px;
        font-weight: 400;
    }
    .map_wrap .map_icon {
        width: 24px;
        height: 24px;
        object-fit: cover;
    }
    .map_wrap .map_arrow_icon {
        width: 24px;
        height: 24px;
        object-fit: contain;
    }

    .map_wrap .map_btn_box_column .map_btn_right_02 {
        color: white;
        flex:1;
        font-weight: 600;
        font-size: 16px;
        margin-left: 40px;
        line-height: 24px;
    }

    .map_location_box .map_btn_box_column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 8px;
        border: 1px solid #fff;
        padding: 10px 28px 10px 28px;
        flex:1;
    }
}
