<div class="footer_wrap">
    <ul class="top">
    <li><a class="f_w" href="/">개인정보취급방침</a></li>
    <li><a class="f_w" href="/">이용약관</a></li>
    <li><a href="/">비급여 항목안내</a></li>
    </ul>
    <div class="bottom">
        <div class="left">
            <div class="txt_wrap">
                <span>명작이비인후과의원</span>
                <span>부산광역시 수영구 수영로 693, 8층 801호</span>
            </div>
            <div class="txt_wrap">
                <span>대표자&nbsp;&nbsp;&nbsp;이태훈</span>
                <span>TEL&nbsp;&nbsp;051-977-8000</span>
                <span>사업자등록번호&nbsp;&nbsp;304-14-14664</span>
            </div>
            <div class="txt_wrap">
                <span>COPYRIGHT ⓒ 2024 명작이비인후과의원 ALL RIGHTS RESERVED. </span>
            </div>
        </div>
        <div class="right"><img src="/assets/img/layout/footer_logo.png" alt=""></div>
    </div>
</div>
