<link rel="stylesheet" href="css/layout.css" />

<div class="header_wrap">
    <div class="top_wrap">
        <div class="phone"><img src="/assets/img/layout/lnb_phone_icon.png" alt="">051.977.8000</div>
        <div class="logo"><a href="/"></a></div>
        <div class="ham_btn">
            <div class="line line1"></div>
            <div class="line line2"></div>
        </div>
    </div>
    <div class="bottom_wrap">
        <ul>
            <li>
                <a href="">About 명작</a>
                <div class="sub">
                    <a href="">병원소개</a>
                    <a href="">둘러보기</a>
                </div>
            </li>
            <li>
                <a href="">귀 클리닉</a>
                <div class="sub">
                    <a href="">어지럼증</a>
                    <a href="">이명</a>
                    <a href="">난청</a>
                </div>
            </li>
            <li>
                <a href="">코 클리닉</a>
                <div class="sub">
                    <a href="">비중격만곡증</a>
                    <a href="">알레르기 비염</a>
                    <a href="">축농증</a>
                </div>
            </li>
            <li><a href="">3D 코성형</a></li>
            <li><a href="">수면클리닉</a></li>
            <li><a href="">수액클리닉</a></li>
        </ul>
    </div>
</div>

<div class="quick_btn_wrap">
    <div class="quick_menu_btn"><a href="#"><img src="/assets/img/layout/quick_bar_icon_img.png" alt=""></a></div>
    <div class="top_btn"><a href="#"><img src="/assets/img/layout/top_icon_img.png" alt=""></a></div>
</div>

<div class="consult_btn_wrap">
    <div class="btn"><img src="/assets/img/layout/chk_icon.png" alt="">빠른 상담신청</div>
    <div class="inner">
        <div class="input_wrap">
            <input type="text" placeholder="이름">
            <input type="text" placeholder="연락처 (-없이 숫자만 입력)">
            <select id="category-select">
                <option value="default" disabled selected>상담분야</option>
                <option value="category1">분야 예시 1</option>
                <option value="category2">분야 예시 2</option>
                <option value="category3">분야 예시 3</option>
                <option value="category4">분야 예시 4</option>
            </select>
            <div class="checkbox_wrap">
                <input type="checkbox" id="consent-checkbox" name="consent">
                <label for="consent-checkbox">개인정보 수집/이용 동의하기</label>
            </div>
        </div>
        <div class="request_btn">상담신청</div>
    </div>
</div>
