<link rel="stylesheet" href="/css/layout.css" />

<!-- pc 메뉴 -->
<div class="pc_menu pc_only">
    <div class="menu_wrap">
        <div class="menu_list">
            <div class="menu">
                <div class="tit">
                    <small>01</small><h1>병원 소개</h1>
                    <ul>
                        <li><a href="#none">의료진소개</a></li>
                        <li><a href="#none">진료과목</a></li>
                        <li><a href="#none">진료후기</a></li>
                    </ul>
                </div>
            </div>
            <div class="menu">
                <div class="tit">
                    <small>02</small><h1>귀 클리닉</h1>
                    <ul>
                        <li><a href="/dizziness.html">어지럼증</a></li>
                        <li><a href="/tinnitus.html">이명</a></li>
                        <li><a href="/hearingloss.html">난청</a></li>
                    </ul>
                </div>
            </div>
            <div class="menu">
                <div class="tit">
                    <small>03</small><h1>코 클리닉</h1>
                    <ul>
                        <li><a href="/deviated.html">비중격만곡증</a></li>
                        <li><a href="/allergic.html">알레르기비염</a></li>
                        <li><a href="/sinus_infection.html">축농증</a></li>
                    </ul>
                </div>
            </div>
            <div class="menu">
                <div class="tit">
                    <small>04</small><h1>3D 코성형</h1>
                    <ul>
                        <li><a href="/rhinoplasty.html">세계 최초 코성형가이드</a></li>
                    </ul>
                </div>
            </div>
            <div class="menu">
                <div class="tit">
                    <small>05</small><h1>수면 클리닉</h1>
                    <ul>
                        <li><a href="/sleep_clinic.html">수면장애</a></li>
                        <li><a href="#none">원인·증상</a></li>
                        <li><a href="#none">재발방지교육</a></li>
                    </ul>
                </div>
            </div>
            <div class="menu">
                <div class="tit">
                    <small>06 </small><h1>수액 클리닉</h1>
                    <ul>
                        <li><a href="/infusion_clinic.html">추천대상</a></li>
                        <li><a href="#none">수액종류</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="img_wrap">
            <img class="active" src="/assets/img/layout/pc_menu_1.png" alt="">
            <img src="/assets/img/layout/pc_menu_2.png" alt="">
            <img src="/assets/img/layout/pc_menu_3.png" alt="">
            <img src="/assets/img/layout/pc_menu_4.png" alt="">
            <img src="/assets/img/layout/pc_menu_5.png" alt="">
            <img src="/assets/img/layout/pc_menu_6.png" alt="">
        </div>
    </div>
</div>

<!-- 헤더 -->
<div class="header_wrap">
    <div class="top_wrap">
        <div class="phone"><img src="/assets/img/layout/lnb_phone_icon.png" alt="">051.977.8000</div>
        <div class="logo"><a href="/"></a></div>
        <div class="ham_btn">
            <div class="line line1"></div>
            <div class="line line2"></div>
            <div class="line line3 mo_only"></div>
        </div>
    </div>
    <div class="bottom_wrap">
        <ul>
            <li>
                <a href="">About 명작</a>
                <div class="sub">
                    <a href="/about.html">병원소개</a>
                    <a href="/explore.html">둘러보기</a>
                </div>
            </li>
            <li>
                <a href="">귀 클리닉</a>
                <div class="sub">
                    <a href="/dizziness.html">어지럼증</a>
                    <a href="/tinnitus.html">이명</a>
                    <a href="/hearingloss.html">난청</a>
                </div>
            </li>
            <li>
                <a href="">코 클리닉</a>
                <div class="sub">
                    <a href="/deviated.html">비중격만곡증</a>
                    <a href="/allergic.html">알레르기 비염</a>
                    <a href="/sinus_infection.html"">축농증</a>
                </div>
            </li>
            <li><a href="/rhinoplasty.html">3D 코성형</a></li>
            <li><a href="/sleep_clinic.html">수면클리닉</a></li>
            <li><a href="/infusion_clinic.html">수액클리닉</a></li>
        </ul>
    </div>
</div>

<!-- pc 퀵 바 -->
<div class="quick_btn_wrap">
    <div class="quick_menu_btn">
        <img src="/assets/img/layout/quick_bar_icon_img.png" alt="">

        <div class="hover">
            <a href="#none">
                <img src="/assets/img/layout/quick_icon_1.png" alt="">
                <p>공식 블로그</p>
            </a>
            <a href="#none">
                <img src="/assets/img/layout/quick_icon_2.png" alt="">
                <p>인스타그램</p>
            </a>
            <a href="#none">
                <img src="/assets/img/layout/quick_icon_3.png" alt="">
                <p>네이버 예약</p>
            </a>
            <a href="#none">
                <img src="/assets/img/layout/quick_icon_4.png" alt="">
                <p>전화 문의</p>
            </a>
            <a href="#none">
                <img src="/assets/img/layout/quick_icon_5.png" alt="">
                <p>오시는 길</p>
            </a>
        </div>
    </div>
    <div class="top_btn"><a href="#"><img src="/assets/img/layout/top_icon_img.png" alt=""></a></div>
</div>

<!-- pc 빠른 상담바 -->
<div class="consult_btn_wrap">
    <div class="btn"><img src="/assets/img/layout/chk_icon.png" alt="">빠른 상담신청</div>
    <div class="inner">
        <div class="input_wrap">
            <input type="text" placeholder="이름">
            <input type="text" placeholder="연락처 (-없이 숫자만 입력)">
            <select id="category-select">
                <option value="default" disabled selected>상담분야</option>
                <option value="category1">분야 예시 1</option>
                <option value="category2">분야 예시 2</option>
                <option value="category3">분야 예시 3</option>
                <option value="category4">분야 예시 4</option>
            </select>
            <div class="checkbox_wrap">
                <input type="checkbox" id="consent-checkbox" name="consent">
                <label for="consent-checkbox">개인정보 수집/이용 동의하기</label>
            </div>
        </div>
        <div class="request_btn">상담신청</div>
    </div>
</div>

<!-- 모바일 하단바 -->
<div class="mo_bar mo_only">
    <ul>
        <li><a href="#none"><img src="/assets/img/layout/mo_bar_icon1.png" alt="">전화상담</a></li>
        <li><a href="#none"><img src="/assets/img/layout/mo_bar_icon2.png" alt="">오시는 길</a></li>
        <li><a href="#none"><img src="/assets/img/layout/mo_bar_icon3.png" alt="">네이버 예약</a></li>
    </ul>
</div>


