<link rel="stylesheet" href="css/layout.css" />

<div class="header_wrap">
    <div class="top_wrap">
        <div class="phone"><img src="/assets/img/layout/lnb_phone_icon.png" alt="">051.977.8000</div>
        <div class="logo"><a href="/"></a></div>
        <div class="ham_btn">
            <div class="line line1"></div>
            <div class="line line2"></div>
        </div>
    </div>
</div>

<div class="quick_btn_wrap">
    <div class="quick_menu_btn"><a href="#"><img src="/assets/img/layout/quick_bar_icon_img.png" alt=""></a></div>
    <div class="top_btn"><a href="#"><img src="/assets/img/layout/top_icon_img.png" alt=""></a></div>
</div>
