<link rel="stylesheet" href="css/map.css" />
<link rel="stylesheet" href="css/reset.css" />
<link rel="stylesheet" href="css/common.css" />

<div class="map_wrap">
    <img class="map_img" src="../assets/img/layout/map_bg.png"/>
    <div class="map_between">
        <div class="map_intro_wrap">
            <div class="map_intro_txt_01">진료시간 및 오시는 길</div>
            <div class="map_intro_txt_02">Masterpiece Contact</div>
            <div class="map_intro_txt_03">부산 수영구 수영로 693, BNK 수영타워 8층<br/>(수영역 1번 출구 앞)</div>
            <div class="map_intro_txt_04">051.977.8000</div>
            <div class="map_time_wrap pc_only">
                <div class="map_time_section_01">
                    <div class="map_time_box">
                        <div class="map_time_left week_txt">
                            평&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;일
                        </div>
                        <div class="map_time_right">
                            AM 09:00 - PM 06:00
                        </div>
                    </div>
                    <div class="map_time_box">
                        <div class="map_time_left">
                            토 요 일
                        </div>
                        <div class="map_time_right">
                            AM 09:00 - PM 01:00
                        </div>
                    </div>
                </div>
                <div class="map_time_section_02">
                    <div class="map_time_box">
                        <div class="map_time_left">
                            점심시간
                        </div>
                        <div class="map_time_right">
                            PM 12:30 - PM 02:00
                        </div>
                    </div>
                </div>
                <div class="map_time_section_03">
                    <div class="map_time_txt_02">토요일 점심시간 없이 진료 / 일요일 공휴일 휴진</div>
                </div>
            </div>
            <div class="map_time_wrap mo_only">
                <div class="map_time_section_01">
                    <div class="map_time_box">
                        <div class="map_time_left week_txt">
                            평&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;일
                        </div>
                        <div class="map_time_right">
                            AM 09:00 - PM 06:00
                        </div>
                    </div>
                </div>
                <div class="map_time_section_02">
                    <div class="map_time_box">
                        <div class="map_time_left">
                            토 요 일
                        </div>
                        <div class="map_time_right">
                            AM 09:00 - PM 01:00
                        </div>
                    </div>
                </div>
                <div class="map_time_section_02">
                    <div class="map_time_box">
                        <div class="map_time_left">
                            점심시간
                        </div>
                        <div class="map_time_right">
                            PM 12:30 - PM 02:00
                        </div>
                    </div>
                </div>
                <div class="map_time_section_03">
                    <div class="map_time_txt_02">토요일 점심시간 없이 진료 / 일요일 공휴일 휴진</div>
                </div>
            </div>
        </div>
        <div class="map_location_wrap pc_only">
            <div class="map_location_box">
                <img class="map_location_img" src="../assets/img/layout/map_location.png"/>
            </div>
            <div class="map_location_box">
                <div class="map_location_btn_box">
                    <div class="map_btn_train map_btn_border map_btn_hover">
                        <div class="map_btn_box">
                            <div class="map_btn_left">
                                <img class="map_icon" src="../assets/svg/train.svg" alt=""/>
                                <div class="map_btn_train_txt map_btn_txt">지하철 이용 시</div>
                            </div>
                            <div class="map_btn_right">
                                <img class="map_arrow_icon" src="../assets/img/layout/map_arrow_down_icon.png" alt=""/>
                            </div>
                        </div>
                        <div class="map_btn_hover_box">
                            <div class="map_btn_hover_txt_box_01">
                                <div>부산</div>
                                <div class="line_two">2호선</div>
                                <div class="line_three">3호선</div>
                            </div>
                            <div class="map_btn_hover_txt_box_02">
                                수영역 1번 출구에서 도보 36m에 위치
                            </div>
                        </div>
                    </div>
                    <div class="map_btn_bus map_btn_border map_btn_hover">
                        <div class="map_btn_box">
                            <div class="map_btn_left">
                                <img class="map_icon" src="../assets/svg/bus.svg" alt=""/>
                                <div class="map_btn_bus_txt map_btn_txt">버스 이용 시</div>
                            </div>
                            <div class="map_btn_right">
                                <img class="map_arrow_icon" src="../assets/svg/arrow_down.svg" alt=""/>
                            </div>
                        </div>
                        <div class="map_btn_hover_box">
                            <div class="map_btn_hover_txt_box_02">
                                <div class="map_bus_txt_01">
                                    <div><span class="map_bus_txt_color">일반버스</span> - 수영교차로 / 수영역</div>
                                    <div>5-1, 20, 39, 40, 42, 49, 51, 54, 62,
                                        63, 131, 141, 141(심야), 155, 210,
                                        1001, 1003, 1003(심야), 2026
                                    </div>
                                </div>
                                <div class="map_bus_txt_02">
                                    <div class="map_bus_txt_color">마을버스</div>
                                    <div>수영교차로.팔도시장 : <span>해운대구3</span></div>
                                    <div>브라운닷호텔 : <span>수영구2</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="map_location_btn_box">
                    <div class="map_btn_car map_btn_border">
                        <div class="map_btn_box">
                            <div class="map_btn_left">
                                <img class="map_icon" src="../assets/svg/car.svg" alt=""/>
                                <div class="map_btn_car_txt map_btn_txt">자차 이용 시</div>
                            </div>
                            <div class="map_btn_right_02">
                                부산은행 수영타워 지하 주차장 이용 가능
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="map_location_wrap mo_only">
            <div class="map_location_box">
                <img class="map_location_img" src="../assets/img/layout/map_location_02.png"/>
            </div>
            <div class="map_location_box">
                <div class="map_location_btn_box">
                    <div class="map_btn_train map_btn_border map_btn_hover">
                        <div class="map_btn_box">
                            <div class="map_btn_left">
                                <img class="map_icon" src="../assets/svg/train.svg" alt=""/>
                                <div class="map_btn_train_txt map_btn_txt">지하철 이용 시</div>
                            </div>
                            <div class="map_btn_right">
                                <img class="map_arrow_icon" src="../assets/img/layout/map_arrow_down_icon.png" alt=""/>
                            </div>
                        </div>
                        <div class="map_btn_hover_box">
                            <div class="map_btn_hover_txt_box_01">
                                <div>부산</div>
                                <div class="line_two">2호선</div>
                                <div class="line_three">3호선</div>
                            </div>
                            <div class="map_btn_hover_txt_box_02">
                                수영역 1번 출구에서 도보 36m에 위치
                            </div>
                        </div>
                    </div>
                </div>
                <div class="map_location_btn_box">

                <div class="map_btn_bus map_btn_border map_btn_hover">
                        <div class="map_btn_box">
                            <div class="map_btn_left">
                                <img class="map_icon" src="../assets/svg/bus.svg" alt=""/>
                                <div class="map_btn_bus_txt map_btn_txt">버스 이용 시</div>
                            </div>
                            <div class="map_btn_right">
                                <img class="map_arrow_icon" src="../assets/svg/arrow_down.svg" alt=""/>
                            </div>
                        </div> 
                        <div class="map_btn_hover_box">
                            <div class="map_btn_hover_txt_box_02">
                                <div class="map_bus_txt_01">
                                    <div><span class="map_bus_txt_color">일반버스</span> - 수영교차로 / 수영역</div>
                                    <div>5-1, 20, 39, 40, 42, 49, 51, 54, 62,
                                        63, 131, 141, 141(심야), 155, 210,
                                        1001, 1003, 1003(심야), 2026
                                    </div>
                                </div>
                                <div class="map_bus_txt_02">
                                    <div class="map_bus_txt_color">마을버스</div>
                                    <div>수영교차로.팔도시장 : <span>해운대구3</span></div>
                                    <div>브라운닷호텔 : <span>수영구2</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="map_location_btn_box">
                    <div class="map_btn_car map_btn_border">
                        <div class="map_btn_box_column">
                            <div class="map_btn_left">
                                <img class="map_icon" src="../assets/svg/car.svg" alt=""/>
                                <div class="map_btn_car_txt map_btn_txt">자차 이용 시</div>
                            </div>
                            <div class="map_btn_right_02">부산은행 수영타워<br>지하 주차장 이용 가능</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
